{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "RequestBinProvider": "Memory",
    "RequestBinRenderer": "Liquid",
    "RequestBinMaxSize": 20,
    "RequestBodyMaxLength": 128000,
    "RequestBinSlidingExpiration": 180,
    "RequestBinAbsoluteExpiration": 720,
    "APPINSIGHTS_INSTRUMENTATIONKEY": null,
    "WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT": 1
  }
}